In [ ]:
import emoji
import numpy as np
import os
import lithops
from lithops.storage import Storage
import numpy as np
import pandas as pd
import io
import csv
import re
import operator
import facebook
import matplotlib.pyplot as plt
import math

In [ ]:

import sys
try:
    import lithops
except:
    !{sys.executable} -m pip install lithops
    import lithops

In [ ]:
config = {'ibm_cf':  {'endpoint' : 'https://eu-gb.functions.cloud.ibm.com',
                      'namespace'   : 'ubenabdelkrim2@gmail.com_dev',
                      'api_key'     : '7c45d3db-a61f-4ca6-afdd-45d749ebbda3:9Z1CfSBEeif85med0hgE9pefPC8KI6vrrCanErdmMKiajaMKKzfOd57TBQKF4E9I'}, 
          'ibm_cos': {'region'   : 'eu-de',
                    'access_key' : '5286a241e5de460a96de29466c635424',
                    'secret_key' : '1e4c0eaec93783aab1243240ffe8f0d90dbae5def4c9aeae'},
          'lithops' : {'storage_bucket' : 'sd-task2'}}

In [ ]:
fexec = lithops.FunctionExecutor(config=config)

In [ ]:
storage=Storage()

In [ ]:
def countFrequency(my_list, freq):
 
    # Creating an empty dictionary
    for item in my_list:
        if (item in freq.keys()):
            freq[item] += 1
    return freq

def political_analysis(texts):
    resultados = {}

    ###clarification: all keywords have been selected based on the frequency of their use, rather than personal opinions
    democrats_words = ["family", "care", "cut", "support", "thank", "new", "student", "need", "help", "equal pay", "fair", 
        "bin laden", "wall street", "worker", "veteran", "fight", "invest", "education", "military", "war", "medicare", "science", 
        "forward", "women", "seniors", "biden"]
    republicans_words = ["good", "security", "great", "unite", "senate", "thank", "good", "meet", "hear", "join", "government", 
        "flag", "church", "unemployment", "regulation", "obamacare", "fail", "better", "faith", "business", "small business", "romney", 
        "leadership", "god", "debt", "spending", "success"]
    democrat_dict = {}
    republican_dict = {}
    democrat_freq = 0
    republican_freq = 0

    for word in democrats_words:
        democrat_dict[word]=0
    for word in republicans_words:
        republican_dict[word]=0
    for text in texts:
        democrat_dict = countFrequency(str(text).split(" "), democrat_dict)
        republican_dict = countFrequency(str(text).split(" "), republican_dict)
    for word in democrat_dict:
        democrat_freq+=democrat_dict[word]
    for word in republican_dict:
        republican_freq+=republican_dict[word]
    
    if(democrat_freq>republican_freq):
        result= "democrat"
    else:
        if(democrat_freq<republican_freq):
            result= "republican"
   
        else:
            result = "neutral"
    resultados['politics'] = result
    return result, democrat_dict, republican_dict

In [ ]:
def religion_analysis(texts):
    islam_words = ["allah", "fatwa", "hadj", "hajj","hijjah", "islam", "mecca", "muhammad", "mosque", "muslim", 
        "prophet", "ramadan", "salam", "salaam", "sharia", "suhoor", "sunna", "sunnah", "sunni", "koran", "coran", 
        "qur'an", "hijab", "halal", "hadith", "imam", "madrassah", "salat", "sawm", "shahada", "sura", "tafsir",
        "zakat", "kaaba", "eid al fitr","khutbah", "eid al adha", "p.b.u.h", "sheikh"]
    catholic_words = ["apostle", "assembly", "bible", "blessed sacrament", "celebrant", "discernment", "disciple", 
        "easter", "gospel", "eucharist", "grace", "communion", "holy water", "jesus", "christ", "new testament", "old testament",
        "sacrament", "catholic", "christmas", "christian", "confession", "convent", "godparent", "immaculate", "pentateuch", "saint",
        "protestant", "church", "ecclesiastic", "episcopal"]
    jewish_words = ["torah", "shalom", "kosher", "chutzpah", "kippah", "mazel tov", "adar", "achashverosh", "bimah",
        "daven", "gelilah", "hakafot", "halachah", "iyar", "kiddish", "nisan", "nine day", "shmot", "shul", "simchat",
        "vayikra", "yizkor", "zichrono livracha", "yerushalayim", "yisrael"]
    budism_words = ["ajahn chah", "advaita vedanta", "ayya khema", "bhikkhu payutto", "buddha", "buddhism", "buddhist",
        "chan", "chi kung", "dana", "dharma", "dhamma", "gelugpa", "jhana", "koan", "mahasi", "mahayana", "nibbana", 
        "nirvana", "pali", "sanskrit", "zen"]

    islam_dict = {}
    catholic_dict = {}
    jewish_dict = {}
    budism_dict = {}

    results={}
    results["catholic"]=0
    results["islam"]=0
    results["jewish"]=0
    results["budism"]=0

    for word in islam_words:
        islam_dict[word]=0
    for word in catholic_words:
        catholic_dict[word]=0
    for word in jewish_words:
        jewish_dict[word]=0
    for word in budism_words:
        budism_dict[word]=0
    
        
    for text in texts:
        islam_dict = countFrequency(str(text).split(' '), islam_dict)
        catholic_dict = countFrequency(str(text).split(' '), catholic_dict)
        jewish_dict = countFrequency(str(text).split(' '), jewish_dict)
        budism_dict = countFrequency(str(text).split(' '), budism_dict)
    for word in islam_dict:
        results["islam"]+=islam_dict[word]
    for word in catholic_dict:
        results["catholic"]+=catholic_dict[word]
    for word in jewish_dict:
        results["jewish"]+=jewish_dict[word]
    for word in budism_dict:
        results["budism"]+=budism_dict[word]

    max_value=max(results.items(), key=operator.itemgetter(1))[0]
    if (results.get(max_value) > 0):
        result= max_value
    else:
        result =  "neutral"
    return result, islam_dict, catholic_dict, jewish_dict, budism_dict

In [306]:
def split_posts_text(posts):
    posts_split = []
    for post in posts:
        post_split = post.split(',')
        if len(post_split)>4 and post_split[6] !='': 
            posts_split.append(post_split)
    return posts_split

In [307]:
def get_results(user):
    posts = storage.get_object('sd-task2', user+"/data_crawling.csv").decode('utf8')
    posts_split = split_posts_text(posts.split('%'))
    
    political_result = political_analysis(posts_split)
    democrat_dict = political_result[1]
    republican_dict = political_result[2]

    relgion_result = religion_analysis(posts_split)
    islam_dict = relgion_result[1]
    catholic_dict = relgion_result[2]
    jewish_dict = relgion_result[3]
    budism_dict = relgion_result[4]
    
    return democrat_dict, republican_dict, islam_dict, catholic_dict, jewish_dict, budism_dict

In [317]:
def dict_to_dataframe(dicts):
    df_democrat = pd.DataFrame(dicts[0].items(), columns = ["Word","FrequencyDemocrat"])
    df_republican = pd.DataFrame(dicts[1].items(), columns = ["Word","FrequencyRepublican"])
    df_islam = pd.DataFrame(dicts[2].items(), columns = ["Word","FrequencyIslam"])
    df_catholic = pd.DataFrame(dicts[3].items(), columns = ["Word","FrequencyCatholic"])
    df_jewish = pd.DataFrame(dicts[4].items(), columns = ["Word","FrequencyJewish"])
    df_budism = pd.DataFrame(dicts[5].items(), columns = ["Word","FrequencyBudism"])
    return df_democrat,df_republican,df_islam, df_catholic, df_jewish, df_budism

In [326]:
tables = dict_to_dataframe(get_results("HillaryClinton"))
tables[0].head(15)

           Word  FrequencyDemocrat
0        family                  6
1          care                 10
2           cut                  0
3       support                  4
4         thank                  2
5           new                 10
6       student                  0
7          need                  5
8          help                  8
9     equal pay                  0
10         fair                  1
11    bin laden                  0
12  wall street                  0
13       worker                  0
14      veteran                  0

In [327]:
tables[1].head(15)

            Word  FrequencyRepublican
0           good                    1
1       security                    0
2          great                    6
3          unite                    0
4         senate                    3
5          thank                    2
6           meet                    0
7           hear                    2
8           join                   11
9     government                    2
10          flag                    0
11        church                    0
12  unemployment                    0
13    regulation                    0
14     obamacare                    0

In [328]:
tables[2].head(15)

        Word  FrequencyIslam
0      allah               0
1      fatwa               0
2       hadj               0
3       hajj               0
4     hijjah               0
5      islam               0
6      mecca               0
7   muhammad               0
8     mosque               0
9     muslim               0
10   prophet               0
11   ramadan               0
12     salam               0
13    salaam               0
14    sharia               0

In [329]:
tables[3].head(15)

                 Word  FrequencyCatholic
0             apostle                  0
1            assembly                  0
2               bible                  0
3   blessed sacrament                  0
4           celebrant                  0
5         discernment                  0
6            disciple                  0
7              easter                  1
8              gospel                  0
9           eucharist                  0
10              grace                  0
11          communion                  0
12         holy water                  0
13              jesus                  0
14             christ                  0

In [330]:
tables[4].head(15)

            Word  FrequencyJewish
0          torah                0
1         shalom                0
2         kosher                0
3       chutzpah                0
4         kippah                0
5      mazel tov                0
6           adar                0
7   achashverosh                0
8          bimah                0
9          daven                0
10       gelilah                0
11       hakafot                0
12      halachah                0
13          iyar                0
14       kiddish                0

In [331]:
tables[5].head(15)

               Word  FrequencyBudism
0        ajahn chah                0
1   advaita vedanta                0
2        ayya khema                0
3   bhikkhu payutto                0
4            buddha                0
5          buddhism                0
6          buddhist                0
7              chan                0
8          chi kung                0
9              dana                0
10           dharma                0
11           dhamma                0
12          gelugpa                0
13            jhana                0
14             koan                0

In [ ]:
def show_charts(dicts):
    figure, axis = plt.subplots(6, figsize=(15,40))
    figure.subplots_adjust(hspace=.4)

    #democrat words plot
    lists = sorted(democrat_dict.items()) # sorted by key, return a list of tuples
    x, y = zip(*lists) # unpack a list of pairs into two tuples 
    axis[0].plot(x, y)
    axis[0].set_title("Democrat Words Frequencies")
    axis[0].tick_params(labelrotation=45)
    axis[0].set_xlabel('Words', fontsize=10)
    axis[0].set_ylabel('Freq', fontsize=10)

    #republican words plot
    lists = sorted(republican_dict.items()) # sorted by key, return a list of tuples
    x, y = zip(*lists) # unpack a list of pairs into two tuples 
    axis[1].plot(x, y)
    axis[1].set_title("Republican Words Frequencies")
    axis[1].tick_params(labelrotation=45)
    axis[0].set_xlabel('Words', fontsize=10)
    axis[0].set_ylabel('Freq', fontsize=10)

    #islam words plot
    lists = sorted(islam_dict.items()) # sorted by key, return a list of tuples
    x, y = zip(*lists) # unpack a list of pairs into two tuples 
    axis[2].plot(x, y)
    axis[2].set_title("Islamic Words Frequencies")
    axis[2].tick_params(labelrotation=45)
    axis[0].set_xlabel('Words', fontsize=10)
    axis[0].set_ylabel('Freq', fontsize=10)

    #catholic words plot
    lists = sorted(catholic_dict.items()) # sorted by key, return a list of tuples
    x, y = zip(*lists) # unpack a list of pairs into two tuples 
    axis[3].plot(x, y)
    axis[3].set_title("Catholic Words Frequencies")
    axis[3].tick_params(labelrotation=45)
    axis[0].set_xlabel('Words', fontsize=10)
    axis[0].set_ylabel('Freq', fontsize=10)

    #jewish words plot
    lists = sorted(jewish_dict.items()) # sorted by key, return a list of tuples
    x, y = zip(*lists) # unpack a list of pairs into two tuples 
    axis[4].plot(x, y)
    axis[4].set_title("Jewish Words Frequencies")
    axis[4].tick_params(labelrotation=45)
    axis[0].set_xlabel('Words', fontsize=10)
    axis[0].set_ylabel('Freq', fontsize=10)

    #budism_dict words plot
    lists = sorted(budism_dict.items()) # sorted by key, return a list of tuples
    x, y = zip(*lists) # unpack a list of pairs into two tuples 
    axis[5].plot(x, y)
    axis[5].set_title("Budism Words Frequencies")
    axis[5].tick_params(labelrotation=45)
    axis[0].set_xlabel('Words', fontsize=10)
    axis[0].set_ylabel('Freq', fontsize=10)

In [ ]:
show_charts()